name: Deploy docs

on:
  push:
    branches: [ "main" ]
    paths:
      - "mkdocs.yml"
      - "mkdocs.yaml"
      - "requirements.txt"
      - "docs/**"
      - ".github/workflows/docs.yml"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install MkDocs dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r "requirements.txt"

      - name: Deploy to GitHub Pages (gh-pages branch)
        working-directory: "."
        run: python -m mkdocs gh-deploy --force
